@page "/home"
@model IndexModel
@{
    ViewData["Title"] = "Children English Game Home Page";
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body class="background">
    @{
        if (ViewBag.error != null)
        {
            <span class="text-danger">@ViewBag.error</span>
        }
    }

    @* <section class="infor">
        <div class="background-infor">
            <div id="carouselBanner" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/chao-mao2.png" class="d-block w-100" alt="cover-1">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/chaomao5.png" class="d-block w-100" alt="cover-2">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/chao-mao-2.png" class="d-block w-100" alt="cover-3">
                    </div>
                </div>
               <a class="carousel-control-prev" href="#carouselBanner" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselBanner" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="infor__content container">
            <div class="row">
                <div class="col-12 col-md-4  d-flex my-5">
                    <div class="image">
                        <img src="~/images/best-choice.png" alt="best-choice">
                    </div>
                    <div class="content">
                        <h4 style="color:black">Best choice</h4>
                        <p style="color:black ; text-align:justify">Children English has many courses for every children from 10 to 15 yearolds. Children can learn and play at the same time with Children English Game.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex my-5">
                    <div class="image">
                        <img src="~/images/security.png" alt="security">
                    </div>
                    <div class="content">
                        <h4 style="color:black">Safety & security</h4>
                        <p style="color:black ; text-align:justify">
                            Cohesion information, high security and reputable services bring the best experience
                            for you
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex  my-5">
                    <div class="image">
                        <img src="~/images/support.png" alt="img3">
                    </div>
                    <div class="content">
                        <h4 style="color:black">Support 24/7</h4>
                        <p style="color:black ; text-align:justify">Always listen, always support you with all services at Children English Game.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <section class="container-fluid main-container-header my-5">
        <div class="row">
            <div class="col-12 col-xl-7 order-2 order-xl-1">
                <div class="mt-3 mb-1"><span class="text">Welcome to </span><span class="text-2">Children English Game</span></div>
                <span class="text-header-paragraph mt-2 mb-1 mx-4">
                    At our English center, we believe learning should be both effective and enjoyable.
                    Our courses are designed specifically for students aged 11 and above, with content that matches their level and keeps them motivated.
                    To make studying more engaging, we incorporate game-based homework alongside traditional exercises.
                    With simple yet captivating games featuring fun visuals and interactive challenges, students stay motivated while reinforcing their language skills.
                    This innovative approach helps middle schoolers develop confidence in English in a way that feels exciting and rewarding.
                </span>
                <div class="d-flex justify-content-center mt-2 mb-3"><a class="text-join-button" href="/Auth/Login">Join Now!</a></div>
                @* <div class="section"><a class="text-join-button" href="/Auth/Login">Join Now!</a></div> *@
            </div>
            <div class="col-12 col-xl-5 order-1 order-xl-2">
                <div class="img-students-1">
                    <img src="../images/middleSchoolers.png" alt="Group of middle schoolers">
                </div>
            </div>
        </div>
    </section>
    <section class="club container-fluid main-container-header mb-5" style="background-color:white">
        <div class="row">
            <div class="col-12 p-3">
                <h3 class="heading"><i class="fa fa-newspaper"></i> Latest contents from us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 club__content container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <h5><i class="fa fa-sort-amount-down"></i> Our available courses</h5>
                    <a href="/courses" class="font-a"> See All <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="famousList-carousel owl-carousel owl-theme" id="courses">
                    @* @foreach (var data in meetingList)
                    {
                    <div class="club-item">
                    <a href="#" class="club-image">
                    <img class="img-fluid" src="~/images/meeting.png" alt="nt1">
                    </a>
                    <div class="club-title">
                    <div class="d-flex justify-content-between">
                    <a href="@Url.Action("MeetingPost", "Meeting",new {id = data.MeetingId})" class="text-decoration-none truncate">@data.MeetingName</a>
                    </div>
                    </div>
                    <div class="d-flex justify-content-between">
                    <p class="club-price">
                    <i class="fas fa-calendar"></i>
                    From @data.StartDate.ToString("MM/dd/yyyy")
                    to @data.EndDate.ToString("MM/dd/yyyy")
                    </p>
                    <button class="button--primary">
                    <a class="text-decoration-none text-black"
                    href="@Url.Action("MeetingPost", "Meeting",new {id = data.MeetingId})">See More</a>
                    </button>
                    </div>
                    </div>
                    } *@
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <h5><i class="fa fa-sort-amount-down"></i> Our available classes</h5>
                    <a href="/classes" class="font-a"> See All <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="ratingList-carousel owl-carousel owl-theme" id="classes">
                    @* @foreach (var data in fieldtripList)
                    {
                    <div class="club-item">
                    <a href="#" class="club-image">
                    <img class="img-fluid" src="~/images/meeting.png" alt="nt1">
                    </a>
                    <div class="club-title">
                    <div class="d-flex justify-content-between">
                    <a href="@Url.Action("FieldTripPost", "FieldTrip",new {id = data.TripId})" class="text-decoration-none truncate">@data.TripName</a>
                    </div>
                    </div>
                    <div class="d-flex justify-content-between">
                    <p class="club-price">
                    <i class="fas fa-calendar"></i>
                    From @data.StartDate.ToString("MM/dd/yyyy")
                    to @data.EndDate.ToString("MM/dd/yyyy")
                    </p>
                    <button class="button--primary">
                    <a class="text-decoration-none text-black"
                    href="@Url.Action("FieldTripPost", "FieldTrip",new {id = data.TripId})">See More</a>
                    </button>
                    </div>
                    </div>
                    } *@
                </div>
            </div>
        </div>
    </section>
    <!-- SERVICES -->
    <section id="services" class="container-fluid main-container-header mb-5 services spacing">
        <div class="container-fluid px-0" style="background-color:white">
            <h3 class="heading p-3"><i class="fa fa-concierge-bell"></i>Service</h3>
            <div class="row">
                <div class="offset-1 col-4 service-item">
                    <i class="fa fa-cog"></i>
                    <h5>Account<span>Manager</span></h5>
                    <p class="p-font">Contact with Ho Tran Khanh Duy for emergency</p>
                </div>
                <div class="offset-2 col-4 service-item">
                    <i class="fa fa-cog"></i>
                    <h5>Account<span>Staff</span></h5>
                    <p class="p-font">Contact with Dao Minh Hoa, Dang Hoang Minh, Bui Huu Vinh, Nguyen Khanh Linh for help</p>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutUs" class="about-us px-0 spacing container-fluid main-container-header mb-5">
        <h3 class="heading p-3 mb-0" style="background-color:white"><i class="fa fa-id-card"></i> About Us</h3>
        <div class="row">
            @* <div class="col-6 card intro-desc">
                <div class="intro-title d-flex">
                    <img class="img-fluid" src="~/images/a1.png alt="logo" />
                    <p class="card-text my-3">
                        <span class="text-center d-block">- CEG Inc. -</span>
                        <span class="d-block text-center">
                        </span>
                    </p>
                </div>

                <div class="card-text">
                </div>
            </div>
            <div class="col-6 intro-img" style="background-image: url(../images/chaomao1.jpg)" alt="cover-1"></div> *@
        </div>
    </section>
    <hr class="container my-0" />
    <!-- TEAM MEMBER -->
    @* <section id="teamMember" class="team-member spacing">
        <div class="container">
            <h3 class="heading" style="background-color:white"><i class="fa fa-users"></i>Team</h3>
            <div class="team-carousel owl-carousel owl-theme">
                <div class="team__item">
                    <img src="~/images/tv-4.jpg" alt="team 1" />
                    <div class="team__title">
                        <h5>Ho Tran Khanh Duy</h5>
                        <p>- Manager</p>
                    </div>
                    <div class="team__details">
                        <h5>Ho Tran Khanh Duy</h5>
                        <p class="team__text">- Manager</p>
                        <p>
                            Children English Game Manager, expert in Children English Game with experienced of 5 years.
                        </p>
                        <div class="team__socials">
                            <a href="https://github.com/DuyZomega" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team__item">
                    <img src="~/images/tv-2.jpg" alt="team 1" />
                    <div class="team__title">
                        <h5>Dao Minh Hoa</h5>
                        <p>- Staff</p>
                    </div>
                    <div class="team__details">
                        <h5>Dao Minh Hoa</h5>
                        <p class="team__text">- Staff</p>
                        <p>
                            Children English Game Staff, expert in Children English Game with experienced of 3 years.
                        </p>
                        <div class="team__socials">
                            <a href="https://github.com/hoadmse151329" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team__item">
                    <img src="~/images/tv-3.jpg" alt="team 1" />
                    <div class="team__title">
                        <h5>Dang Hoang Minh</h5>
                        <p>- Staff</p>
                    </div>
                    <div class="team__details">
                        <h5>Dang Hoang Minh</h5>
                        <p class="team__text">- Staff</p>
                        <p>
                            Children English Game Staff, expert in Children English Game with experienced of 3 years.
                        </p>
                        <div class="team__socials">
                            <a href="https://github.com/Echo2craft" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team__item">
                    <img src="~/images/tv-2.jpg" alt="team 1" />
                    <div class="team__title">
                        <h5>Bui Huu Vinh</h5>
                        <p>- Staff</p>
                    </div>
                    <div class="team__details">
                        <h5>Bui Huu Vinh</h5>
                        <p class="team__text">- Staff</p>
                        <p>
                            Children English Game Staff, expert in Children English Game with experienced of 3 years.
                        </p>
                        <div class="team__socials">
                            <a href="https://github.com/Edwin2002104" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@


    <!-- BackToTop -->
    <a href="#" class="backToTop cd-top text-replace js-cd-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- thư viện hỗ trợ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer">
    </script>
    <!-- Jquery Waypoint -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <!-- BS4 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- BS4 carousels -->
    <script>
        $(".carousel").carousel({
            interval: 3000,
        });
        // var apiUrl = sessionStorage.getItem('apiUrl');
        var classList = []; // Store all fetched classes
        $(document).ready(function () {
            callApiGetClassList();
            callApiGetCourseList();
        });
        function callApiGetCourseList() {
            $.ajax({
                url: 'https://localhost:7143/api/' + 'course/status/available', // API endpoint
                type: 'GET',
                success: function (response) {
                    // Check if the status is true
                    if (response.status) {
                        courseList = response.data;
                        setCourseDisplay(courseList);
                    } else {
                        console.error("API returned false status.");
                    }
                },
                error: function (xhr) {
                    // Attempt to parse the response text if it is available
                    var errorResponse = xhr.responseText ? JSON.parse(xhr.responseText) : {};
                    // Extract the custom error message if it exists
                    var errorMessage = errorResponse.errorMessage || errorResponse.title || "An unknown error occurred.";
                    // Check if errorResponse.errors exists and is an object
                    if (errorResponse.errors && typeof errorResponse.errors === 'object') {
                        // Loop through each field in the errors object and append to the errorMessage
                        for (var field in errorResponse.errors) {
                            if (errorResponse.errors.hasOwnProperty(field)) {
                                // Add each error message for the field, joining multiple messages if they exist
                                var fieldErrors = errorResponse.errors[field].join(", ");
                                errorMessage += `\n${field}: ${fieldErrors}`;
                            }
                        }
                    }
                    // Display the error message using your custom showAlert function
                    showAlert('error', "Error:" + errorMessage);
                }
            })
        }
        function callApiGetClassList() {
            $.ajax({
                url: 'https://localhost:7143/api/' + 'class/home', // API endpoint
                type: 'GET',
                success: function (response) {
                    // Check if the status is true
                    if (response.status) {
                        setClassDisplay(response.data);
                    } else {
                        console.error("API returned false status.");
                    }
                },
                error: function (xhr) {
                    // Attempt to parse the response text if it is available
                    var errorResponse = xhr.responseText ? JSON.parse(xhr.responseText) : {};
                    // Extract the custom error message if it exists
                    var errorMessage = errorResponse.errorMessage || errorResponse.title || "An unknown error occurred.";
                    // Check if errorResponse.errors exists and is an object
                    if (errorResponse.errors && typeof errorResponse.errors === 'object') {
                        // Loop through each field in the errors object and append to the errorMessage
                        for (var field in errorResponse.errors) {
                            if (errorResponse.errors.hasOwnProperty(field)) {
                                // Add each error message for the field, joining multiple messages if they exist
                                var fieldErrors = errorResponse.errors[field].join(", ");
                                errorMessage += `\n${field}: ${fieldErrors}`;
                            }
                        }
                    }
                    // Display the error message using your custom showAlert function
                    showAlert('error', "Error:" + errorMessage);
                }
            });
        }
        function setCourseDisplay(data) {
            var courseDiv = $('#courses');
            // Reference to the <classList> element
            courseDiv.empty(); // Clear any existing options
            if (!data || data.length === 0) {
                courseDiv.append(`
                    <div class="col-12 text-center my-5">
                        <div class="alert alert-warning" role="alert">
                            <i class='bx bx-sm bx-error-circle mr-2'></i> We couldn't find any available courses for you, sorry.'.
                        </div>
                    </div>
                `);
                return; // Stop execution if no classes
            }
            // Loop through the data array and append each class div
            $.each(data, function (index, courseObj) {
                var formattedStartDate = formatDate(courseObj.startDate, { ignoreHour: true });
                var formattedEndDate = formatDate(courseObj.endDate, { ignoreHour: true });
                var statusText = '';
                switch (courseObj.status) {
                    case 'Open':
                    case 'Ongoing':
                        statusText = `<span class="outcome" style="float: left;">Status: ${courseObj.status}</span>`
                        break;
                    case 'Draft':
                    case 'Postponed':
                        statusText = `<span class="approval" style="float: left;">Status: ${courseObj.status}</span>`
                        break;
                    case 'Ended':
                    case 'Cancelled':
                        statusText = `<span class="destroy" style="float: left;">Status: ${courseObj.status}</span>`
                        break;
                }
                // Construct card HTML
                var cardHtml = `
                    <div class="club-item">
                        <a href="#" class="club-image">
                            <img class="img-fluid" src="../images/middleSchoolers2.png" alt="nt1">
                        </a>
                        <div class="club-title">
                            <div class="d-flex justify-content-between">
                                <a href="/courses/${courseObj.courseId}" class="text-decoration-none truncate">${courseObj.courseName}</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="club-price">
                                <i class="fas fa-calendar"></i>
                                From ${formattedStartDate}
                                to ${formattedEndDate}
                            </p>
                            <button class="button--primary">
                                <a class="text-decoration-none text-black"
                                    href="/courses/${courseObj.courseId}">See More</a>
                            </button>
                        </div>
                    </div>
                `;
                courseDiv.append(cardHtml);
            });
        }
        function setClassDisplay(data) {
            var classDiv = $('#classes');
            // Reference to the <classList> element
            classDiv.empty(); // Clear any existing options
            if (!data || data.length === 0) {
                classDiv.append(`
                    <div class="col-12 text-center my-5">
                        <div class="alert alert-warning" role="alert">
                            <i class='bx bx-sm bx-error-circle mr-2'></i> We couldn't find any available classes for you, sorry.'.
                        </div>
                    </div>
                `);
                return; // Stop execution if no classes
            }
            // Loop through the data array and append each class div
            $.each(data, function (index, classObj) {
                var formattedStartDate = formatDate(classObj.startDate, { ignoreHour: true });
                var formattedEndDate = formatDate(classObj.endDate, { ignoreHour: true });
                var filteredEnrollList = classObj.enrolls.filter(function (enroll) {
                    return enroll.status === 'Enrolled';
                });
                var statusText = '';
                switch (classObj.status) {
                    case 'Open':
                    case 'Ongoing':
                        statusText = `<span class="outcome" style="float: left;">Status: ${classObj.status}</span>`
                        break;
                    case 'Draft':
                    case 'Postponed':
                        statusText = `<span class="approval" style="float: left;">Status: ${classObj.status}</span>`
                        break;
                    case 'Ended':
                    case 'Cancelled':
                        statusText = `<span class="destroy" style="float: left;">Status: ${classObj.status}</span>`
                        break;
                }
                // Construct card HTML
                var cardHtml = `
                    <div class="club-item">
                        <a href="#" class="club-image">
                            <img class="img-fluid" src="../images/middleSchoolers2.png" alt="nt1">
                        </a>
                        <div class="club-title">
                            <div class="d-flex justify-content-between">
                                <a href="/classes/${classObj.classId}" class="text-decoration-none truncate">${classObj.className}</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="club-price">
                                <i class="fas fa-calendar"></i>
                                From ${formattedStartDate}
                                to ${formattedEndDate}
                            </p>
                            <button class="button--primary">
                                <a class="text-decoration-none text-black"
                                    href="/classes/${classObj.classId}">See More</a>
                            </button>
                        </div>
                    </div>
                `;
                // <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                //         <div class="card1 card-child shadow-sm h-100">
                //             <div class="club-name d-flex justify-content-between align-items-center flex-wrap">
                //                 <strong class="text-truncate" style="max-width: 200px;">${classObj.className}</strong>
                //                 ${statusText}
                //             </div>
                //             <div class="card-body">
                //                 <h5 class="card-title h-14"><strong>Course: </strong><br/> ${classObj.course.courseName}</h5>
                //             </div>
                //             <ul class="list-group list-group-flush">
                //                 <li class="list-group-item"></li>
                //                 <li class="list-group-item d-flex align-items-center"><i class='bx bx-sm bx-book-reader mr-2'></i><span> Teacher: ${classObj.teacher.account.fullname}</span></li>
                //                 <li class="list-group-item d-flex align-items-center"><i class='bx bx-sm bx-calendar-event mr-2'></i><span> Class start at ${formattedStartDate} and ends at ${formattedEndDate}</span></li>
                //                 <li class="list-group-item d-flex align-items-center"><i class='bx bx-sm bx-user-circle mr-2'></i><span> Require ${classObj.minimumStudents} - ${classObj.maximumStudents} students</span></li>
                //                 <li class="list-group-item d-flex align-items-center"><i class='bx bx-sm bx-money mr-2'></i><span> ${vnd.format(classObj.enrollmentFee)}</span></li>
                //                 <li class="list-group-item d-flex align-items-center"><i class='bx bx-sm bx-child mr-2'></i><span> ${filteredEnrollList.length} enrolled students - ${classObj.enrolls.length} enrolls</span></li>
                //                 <li class="list-group-item d-flex align-items-center"><i class='bx bx-sm bx-spreadsheet mr-2'></i><span> ${classObj.schedules.length} scheduled session(s)</span></li>
                //             </ul>
                //             <div class="club-footer d-flex justify-content-around">
                //                 <a class="btn btn-primary clickable-row d-flex align-items-center" href="/parent/classes/${classObj.classId}" role="button"><i class='bx bx-info-circle mr-2'></i> Details</a>
                //             </div>
                //         </div>
                //     </div>
                // Append the constructed HTML to the class list container
                // <form method="get" asp-route-id="${classObj.classId}">
                //     <button class="btn btn-primary clickable-row" type="submit">See Detail</button>
                // </form>
                classDiv.append(cardHtml);
            });
        }
    </script>
    <!-- owl carousels -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script>
        $(".famousList-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                },
                576: {
                    items: 2,
                },
                1200: {
                    items: 4,
                },
            },
        });
        $(".ratingList-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                },
                576: {
                    items: 2,
                },
                1200: {
                    items: 4,
                },
            },
        });
        $(".team-carousel").owlCarousel({
            loop: true,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                },
                600: {
                    items: 3,
                },
                1000: {
                    items: 3,
                },
            },
        });
    </script>
    <!-- backToTop -->
    <script src="~/js/util.js"></script>
    <script src="~/js/main-backToTop.js"></script>
    <!-- main js -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            var backToTopButton = $('.backToTop');

            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                    // User has scrolled to the bottom, hide the button
                    backToTopButton.fadeOut();
                } else {
                    // User is not at the bottom, show the button
                    backToTopButton.fadeIn();
                }
            });

            backToTopButton.click(function (e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            });
        });
    </script>
</body>
</html>
