@page "/Admin/Index"
@model CEG_RazorWebApp.Pages.Admin.AdminIndexModel
@{
    ViewData["Title"] = "Admin Index Page";
    Layout = Model.LayoutUrl;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <!-- Main Content -->
    <div class="main-content">
        <!-- num of data -->
        <div class="cardBox">
            <div class="card event">
                <div class="inconBx">
                    <i class='bx bx-user'></i>
                </div>
                <div>
                    @* <div class="number">@Model.TotalUsers</div> *@
                    <div class="cardName"> Accounts</div>
                </div>
            </div>
            <div class="card feedback">
                <div class="inconBx">
                    <i class='bx bx-calendar'></i>
                </div>
                <div>
                    @* <div class="number">@Model.TotalManagers</div> *@
                    <div class="cardName"> Classes</div>
                </div>
            </div>
            <div class="card turnover">
                <div class="inconBx">
                    <i class='bx bx-briefcase-alt-2'></i>
                </div>
                <div>
                    @* <div class="number">@Model.TotalStaffs</div> *@
                    <div class="cardName"> Courses</div>
                </div>
            </div>
            <div class="card turnover">
                <div class="inconBx">
                    <i class='bx bx-money'></i>
                </div>
                <div>
                    @* <div class="number">@Model.TotalStaffs</div> *@
                    <div class="cardName"> Transactions</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {

    });
</script>
